@font-face {
	font-family: Manrope;
	src: url(../assets/fonts/Manrope-SemiBold.ttf) format(opentype);
}

@font-face {
	font-family: Manrope-Light;
	src: url(../assets/fonts/Manrope-Light.ttf) format(opentype);
}

input {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
