#root {
	border-radius: 16px;
	background: #fff;
	min-height: 100vh;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.slick-slide {
	gap: 24px;
}

section#ad-modern-way {
	padding: 0 110px;
}

section#properties {
	padding: 160px 110px;
}

@media screen and (max-width: 2560px) {
	.slick-slider.slick-initialized {
		max-width: 46vw;
		width: 100%;
	}
}

@media screen and (max-width: 1920px) {
	.slick-slider.slick-initialized {
		max-width: 75.5vw;
		width: 100%;
	}
}

@media screen and (max-width: 1280px) {
	.slick-slider.slick-initialized {
		max-width: 92vw;
		width: 100%;
	}
	header {
		padding: 0 50px;
	}
}

@media screen and (max-width: 768px) {
	section#about-us {
		width: 100%;
	}
	span#item-name {
		width: 285px;
	}
}

@media screen and (max-width: 992px) {
	section#about-us {
		width: 70%;
	}
}

@media screen and (max-width: 320px) {
	section#about-us {
		width: 100%;
	}
	section#ad-modern-way {
		padding: 0;
	}

	section#properties {
		padding: 80px 0;
	}
	img#info-about {
		width: 200px;
	}
	header {
		padding: 16px;
	}
	div#how-it-works-cards {
		width: 310px;
		height: 160px;
	}
	img#dub-x-logo {
		padding: 0;
		width: 100px;
		height: 80px;
	}
	div#nav-div {
		gap: 24px;
	}
}

@media screen and (max-width: 576px) {
	div#how-it-works-cards {
		width: 250px;
	}
	section#about-us {
		width: 87%;
		margin-bottom: 250px;
	}
}

.slick-slide > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 378px;
}

.slick-slide.slick-active div {
	display: flex;
}

.slick-active {
	background-color: #fff;
	border-radius: 2px;
}

.slick-dots.custom {
	position: absolute;
	display: flex;
	bottom: 8px;
	left: 0;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.slick-dots.custom li {
	width: 24px;
	height: 3px;
	border-radius: 2px;
	border: 0.5px solid #ebebf5;
	padding: 0;
}

.slick-dots.custom li button::before {
	width: 24px;
	height: 3px;
	border-radius: 2px;
	border: 0.5px solid #ebebf5;
	padding: 0;
	content: none;
}

.slick-dots.custom li button::after {
	width: 24px;
	height: 3px;
	border-radius: 2px;
	border: 0.5px solid #ebebf5;
	padding: 0;
	content: none;
}

.text-manrope-white {
	color: var(--system-background-dark-elevated-primary, #fff);
	font-family: Manrope-Light;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: 0.374px;
}

.text-manrope-medium {
	color: #1c1c1e;
	font-family: Manrope-Light;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.374px;
}

.text-manrope-medium-light {
	color: #ffffff;
	font-family: Manrope-Light;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.374px;
}

.text-manrope-small-light {
	color: #ebebf599;
	font-family: Manrope-Light;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.374px;
}

.white-box-iphone {
	background-color: #fff;
	width: 255px;
	height: 100px;
}
